@using WebCrawler.Models
@model HtmlModel
@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>
<h3>Count: @Model.ValuePair.Count</h3>
<br />
<a href="/" class="btn btn-primary">Go back home</a>
<br />
<h3>Result</h3>

<hr />
@Model.Result
@*<h3>Result Pair</h3>
@{ 
    foreach (KeyValue pair in Model.ValuePair)
    {
        <span>@pair.Key : @pair.Value</span>
        <a href="@pair.Value">@pair.Key</a>
        <br />
    }
}*@